/mono-2.0-sgen.dll
/MonoPosixHelper.dll
/nanomsg.dll
/net-base.dll
/net-http-server.dll
/net-tcp-server.dll
/profiles.dll
/run.cmd
/scripting-server.dll
/steam.dll
/svadhesive.dll
/vfs-core.dll
/vfs-impl-server.dll
/citizen
/botan.dll
/citizen-resources-core.dll
/citizen-resources-metadata-lua.dll
/citizen-scripting-core.dll
/citizen-scripting-lua.dll
/citizen-scripting-mono.dll
/citizen-server-impl.dll
/citizen-server-instance.dll
/citizen-server-main.dll
/citizen-server-net.dll
/citizen-ssh-server.dll
/components.json
/comptest.dll
/conhost-server.dll
/CoreRT.dll
/devcon.dll
/ETWProviders64.dll
/FXServer.exe
/http-client.dll
/libssh.dll
/libuv.dll
/cache
/CitizenFX.log
/server-tls.key
/server-tls.crt
/nng.dll
/v8_libbase.dll
/v8_libplatform.dll
/citizen-scripting-v8.dll
/icui18n.dll
/icuuc.dll
/node.dll
/v8.dll
/icudtl.dat
/fineLog.txt
/jailLog.txt
/chestVehLog.txt
/giveLog.txt
/voip-server-mumble.dll
/scrbind-base.dll
/moneySendLog.txt
/chestVehMoneyLog.txt
/giveMoneyLog.txt
/lootWeaponsLog.txt
/mpayLog.txt
/cfx_curl_x86_64.dll
/libmono-btls-shared.dll
/mono-2.0-dac-sgen.dll
/crashes
